.header {
    margin-top: 20px;
}

.header a {
    padding: 10px;
    text-decoration: none;
}

.header a:hover {
    background: rgba(225, 235, 247, 0.5);
    cursor: pointer;
}

.header a:visited {
    color: #0000EE;
}

.header img {
    max-height: 15px;
    max-width: 15px;
    vertical-align: middle;
    -webkit-filter: invert(0.5) sepia(1) saturate(100) hue-rotate(235deg);
    filter: invert(0.5) sepia(1) saturate(100) hue-rotate(235deg);
}
