#sidebar {
    background-color: #1f57a4;
    height: 100%;
    width: 300px;
    min-width: 200px;
    position: fixed;
    overflow: scroll;
}

#sidebar * {
    color: white;
}

#sidebar > * {
    padding-left: 20px;
    margin-right: 20px;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5 {
    font-weight: normal;
}


#sidebar a {
    text-decoration: none;
}

#sidebar .active-link {
    text-decoration: underline;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar-title {
    padding-left: 20px;
    position: fixed;
    width: 265px;
    background-color: #1f57a4;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: 2;
}
#sidebar-logo {
    padding-left: 50px;
    width: 265px;
    background-color: #1f57a4;
    padding-top: 0px;
    margin-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: 2;
}
#collection-list {
    margin-top: 20px;
}

#collection-list a {
    font-weight: lighter;
}

.section-title {
    overflow: auto;
}

.section-title h3 {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0;
}

.section-title img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    z-index: 0;
}

#collection-list ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 35px;
    margin-bottom: 30px;
}

#collection-list li {
    margin-top: 5px;
}

#collection-list img {
    margin-left: 5px;
    margin-bottom: 5px;
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
}

.overview-link {
    margin-bottom: 20px;
}

.overview-link a {
    font-weight: lighter;
}

.org-group h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.org-group {
    margin-left: 35px;
}

.org-group ul {
    padding-left: 10px !important;
    margin-bottom: 15px !important;
}


.org-accordion {
  background-color: #1f57a4;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 0px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  transition: 1.4s;
}

active, .org-accordion:hover {
  background-color: #ccc;
}

.org-subpanel {
  padding: 0 10px;
  font-size: 14px;
  display: none;
  overflow: hidden;
}
