.title {
}

.title h1 {
    font-size: 2.5em;
}

.title h2 {
    font-weight: lighter;
}

#mission {
    border-right: 1px solid lightgray;
    max-width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#values {
    margin-left: 20px;
}

#mission-values {
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: large;
}

#overview-text {
    font-size: large;
}