---
layout: search
title: Search
---
<form action="{{ site.url }}/search.html" method="get" id="search-form">
    <label for="search-box">Searching for</label>
    <input type="text" id="search-box" name="query">
    <input type="image" alt="go" id="search-submit" src="assets/lib/glyphs/search/search_128.svg">
    <!--<input type="submit" value="search">-->
</form>

<ul id="search-results"></ul>

<script>
  {% assign first = 0 %}
  window.store = {
  {% for collection in site.collections %}
      {% if collection.label == 'posts' %}{% continue %}{% endif %}
      {% for post in collection.docs %}
          "{{ post.url | slugify }}": {
            "title": "{{ post.title | xml_escape }}",
            "subtitle": "{{ post.subtitle | xml_escape }}",
            "content": {{ post.content | strip_html | strip_newlines | jsonify }},
            "url": "{{ post.url | xml_escape | prepend: site.url }}",
            "collection": "{{ post.collection | capitalize}}",
            "excerpt": "{{ item.excerpt }}"
          },
      {% endfor %}
  {% endfor %}
  };
</script>
<script src="{{ site.url }}/assets/js/lunr.js"></script>
<script src="{{ site.url }}/assets/js/search.js"></script>